{% extends 'baseback.html.twig' %}

{% block title %}Mediatek86 | Création d'une playlist{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-info mb-4">Créer une playlist</h1>
        <div class="card shadow-sm p-4 mb-4">
            {{ include('admin/playlist/_form.html.twig', {
                form: form,
                button_label: 'Créer',
                formationCount: 0,
                playlist: playlist,
                is_edit: false
            }) }}
        </div>
    </div>

    <a href="{{ path('admin_playlist_index') }}" class="btn btn-info btn-sm mb-2" role="button" title="Retour aux formations">← Retour à la liste des playlists</a>
{% endblock %}
